<div class="main">
    <div class="element">
        @for (product of products; track product.id) {
        <div (click)="selectProduct(product)" (contextmenu)="onRightClick($event); setId(product.id)" class="listItem">
            <span>{{ product.name }}</span>
        </div>
        }
    </div>

    @if (products.length == 0 && loaded) {
        <div class="listItem new" (click)="createNewProduct()">
           <mat-icon>add</mat-icon> <span>{{ keyword }}</span>
        </div>
    }


    @if (isDesktop) {
        <div class="keyword-container">
            <span #keywordRef class="keyword">
                {{keyword}}
            </span>
        </div>
    }


    <div style="visibility: hidden; position: fixed;" [style.left]="menuTopLeftPosition.x"
    [style.top]="menuTopLeftPosition.y" [matMenuTriggerFor]="rightMenu"></div>

<!-- standard material menu -->
    <mat-menu #rightMenu="matMenu">
        <ng-template matMenuContent let-item="item" >
            <button mat-menu-item (click)="handleDelete()">Remove</button>
        </ng-template>
    </mat-menu>

</div>