.notebook {
  border: 1px solid #eeeeee;
  box-shadow: 1px 1px 0 #dddddd;
  display: block;
  line-height: 49px;
  margin: 0% auto;
  padding: 10px 20px 0 70px;
  resize: none;
  height: fit-content;
  min-height: 100%;
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: bold;
  background-image:
    -moz-linear-gradient(top, transparent, transparent 49px, #e7eff8 0px),
    -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 30%, transparent
          0%),
    -moz-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 34.5%, transparent
          0%);
  background-image:
    -webkit-linear-gradient(top, transparent, transparent 49px, #e7eff8 0),
    -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 30%, transparent
          0%),
    -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc
          34.5%, transparent 0%);
  -webkit-background-size: 100% 50px;
  background-size: 100% 50px;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.show {
  display: flex !important;
}

.menu {
  display: none;
  gap: 10px;
}

.strike {
  text-decoration: line-through;
}

svg {
  width: 20px;
}

.row-item { 
  display:flex;
  justify-content: start;
  flex-direction:row;
  align-items: center;
  width:100%;
  cursor: pointer;
  gap: 15px;
  margin: 0px 0px 0px 15px;
}

p {
  margin-bottom: 0px;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-3px); }
  20%, 40%, 60%, 80% { transform: translateX(3px); }
}

/* Apply the shake animation to the text */
.shake-text {
  display: inline-block; /* Make sure it applies directly to inline text */
  font-size: 24px;
  font-weight: bold;
  color: #333;
  animation: shake 0.5s ease-in-out; /* Infinite loop for continuous shake */
}

.userInput {
  height: 30px;
  border: none;
  margin-left: 35px;
}

.userInput:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  .notebook {
    padding-left: 20px;
  }
}