<div class="container">
    <form class="form-group" (ngSubmit)="onSubmit()" #actorForm="ngForm">
        <label for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required
            [(ngModel)]="credentials.username" #username="ngModel" />
        <label for="Password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required
            [(ngModel)]="credentials.password" #username="ngModel" />
        <div #error class="error">
            Wrong login or password!
        </div>
        <div class="btn-container">
            <button class="btn btn-success" type="submit" [disabled]="!actorForm.form.valid">
                {{ button }}
            </button>
            <div id="noaccount">
                <p>Do not have an account? <a href="/register">Sign In</a></p>
            </div>
        </div>
    </form>
</div>