.container {
    display: flex;
    width: 40%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

.btn-container button {
    width: 100px;
}

.btn-container #noaccount {
    padding-top: 20px;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .container {
        transform: scale(2);
    }
}